<footer>

  <div class="enlaces">
    <p>{{direccion}}</p>
  </div>

  <div class="ifooter">
    <p>Siguenos en nuestras redes sociales</p>
    <div class="f1">
      <a  [href]="urlTwitter" target="_blank"><i class="fab fa-twitter"></i></a>
    </div>
    <div class="f1">
      <a [href]="urlInstagram" target="_blank"><i class="fab fa-instagram"></i></a>
    </div>
    <div class="f1">
      <a [href]="urlFacebook" target="_blank"><i class="fab fa-facebook"></i></a>
    </div>
    <div class="f1">
      <a [href]="urlMail" target="_blank"><i class="fas fa-envelope"></i></a>
    </div>
  </div>

  <div class="textofinal">
    <p>Hecho con <i class="fas fa-heart"></i> y <i class="fas fa-coffee"></i> por Maria Bravo</p>
  </div>

</footer>
