<!--SECTION APORTES-->
<section id="aportes" class="aportes">

  <div class="texto1">

    <h1 class="titleNosotros">
      <span>A</span>
      <span>P</span>
      <span>O</span>
      <span>R</span>
      <span>T</span>
      <span>E</span>
      <span>S</span>
    </h1>

    <h2> Tu ayuda nos permite seguir salvando vidas</h2>

    <p>Cada aporte por más pequeño que sea, significa mucho para ellos.</p>

  </div>

  <div class="imgAportes">

    <div class="aporte post">
      <a href=""><img src="../../../assets/img/tienda1.png" target="_blank" alt="visita nuestra tienda" class="tienda"/></a>
      <div class="pie">
        <h2>Visitá nuestra tienda</h2>
      </div>
    </div>

    <div class="aporte post">
      <a href=""><img src="../../../assets/img/comida.png" target="_blank" alt="dona" class="dona"/></a>
      <div class="pie">
        <h2>Puedes donar de muchas maneras</h2>
      </div>
    </div>

    <div class="aporte post">
      <a href=""><img src="../../../assets/img/gato.png" target="_blank" alt="adopta un perrito" class="adopta"/></a>
      <div class="pie">
        <h2>Registráte y accede a la info de nuestros animales en adopción</h2>
      </div>
    </div>

    <div class="aporte post">
      <a href=""><img src="../../../assets/img/voluntariado.png" target="_blank" alt="voluntariado" class="voluntarios" /></a>
      <div class="pie">
        <h2>¿Querés ser voluntario?</h2>
      </div>
    </div>

  </div>

</section>
