<!--SECTION ADOPCIONES-->
<section id="adopciones" class="adopciones">

  <h1 class="titleAdop">ADOPCIONES FELICES</h1>

  <div id="carouselExampleSlidesOnly" class="carousel slide contenedorSlide2" data-bs-ride="carousel">

    <div class="carousel-inner">
      <div class="carousel-item active">
        <img src="../../../assets/img/c1.png" class="d-block w-100" alt="perro adoptado">
      </div>

      <div class="carousel-item">
        <img src="../../../assets/img/c2.png" class="d-block w-100" alt="perro adoptado">
      </div>

      <div class="carousel-item">
        <img src="../../../assets/img/c3.png" class="d-block w-100" alt="perro adoptado">
      </div>

    </div>

  </div>

</section>

<div class="agradecer">
  <p>Gracias a todas las personas dispuestas a formar una familia con estos seres especiales de 4 patas, hacemos un seguimiento continuo de cada caso de adopcion, asegurandonos siempre del bienestar de cada animal adoptado, sigan enviadonos sus fotos y contandonos sus experiencias de ADOPCIONES FELICES</p>
</div>

