<header id="header">

  <img src="../../../assets/img/logo.png" class="logo" alt="logo de proyecto">

  <div class="containerP">

    <div class="containerMenu">

      <ul id="menu">
        <li><a routerLink="inicio">inicio</a></li>
        <li><a routerLink="nosotros">nosotros</a></li>
        <li><a routerLink="aportes" [scrollTop]="0" >aportes</a></li>
        <li><a routerLink="adoptanos" >adoptános</a></li>
        <li><a routerLink="contactanos">contactanos</a></li>
        <li><a routerLink="lista" class="text-bg-danger p-1">Admin</a></li>
      </ul>

    </div>

  </div>

</header>
